.page-container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 36px;
}

.about-container {
  display: flex;
  gap: 30px;
}

.bio {
  flex: 3;
}

.about-img-container {
  justify-content: center;
  flex: 1;
  flex-shrink: 0;
  overflow: hidden;
}

.about-img {
  max-width: 100%; /* Ensures the image scales down if the container shrinks */
  height: auto; /* Maintains aspect ratio */
  object-fit: contain; /* Keeps the entire image visible while maintaining aspect ratio */
}

.about-text {
  padding: 0 32px;
  margin-top: 0px;
}

@media screen and (max-width: 800px) {
  .about-container {
    display: inline-block;
  }

  .about-img-container {
    display: flex;
  }

  .about-img {
    margin: 0 auto 24px auto;
    max-width: 300px;
  }
}
