@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");

@font-face {
  font-family: "Maleah";
  font-style: normal;
  font-weight: 400;
  src: url("https://fonts.cdnfonts.com/s/18964/Maleah-Regular.woff") format("woff");
}
@font-face {
  font-family: "Maleah";
  font-style: normal;
  font-weight: 700;
  src: url("https://fonts.cdnfonts.com/s/18964/Maleah-Bold.woff") format("woff");
}

:root {
  --primary: #676767;
  --light: #959595;
  --dark: #434343;
  --primary-accent-dark: #283314;
  --primary-accent-light: #dde1d0;
  --secondary-accent-dark: #171e08;
  --secondary-accent-light: #767f64;
  --tertiary-accent: #edece4;

  font-family: "Maleah", serif;
}

* {
  box-sizing: border-box;
  font-family: "Maleah", serif;
}

body {
  margin: 0;
  color: var(--primary);
}

a {
  color: var(--dark);
  text-decoration: none;
  transition: all 0.2s ease;
}

a:hover,
a:active {
  color: var(--light);
}

.header {
  text-align: center;
}

html {
  background-color: rgb(255, 254, 252);
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

h2 {
  font-weight: 200;
  font-size: 18px;
  color: var(--dark);
  padding: 0 16px;
  text-transform: uppercase;
}

p {
  font-family: "Cardo", Georgia, serif;
  font-size: 15px;
  line-height: 1.55;
  font-weight: 400;
  margin-bottom: 24px;
  margin-top: 0px;
  letter-spacing: 0.2px;
}

span {
  font-size: 14px;
  line-height: 20px;
  font-weight: 300;
  margin-bottom: 36px;
  margin-top: 0px;
}

input,
textarea {
  border-radius: 0;
}

input[type="search"],
textarea[type="search"] {
  -webkit-appearance: none;
}

.hide {
  display: none;
}

@media screen and (max-width: 800px) {
  h2 {
    font-size: 24px;
  }
  .asset-container {
    margin: 0px;
  }
}
