.gallery-overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255);
}

.image-containers {
  /* width: 100%; */
  height: calc(100vh - 128px);
  justify-content: center;
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  margin-top: 72px;
  margin-bottom: 72px;
  /* margin-top: 50px;
  margin-bottom: 50px; */
}

.responsive-image {
  max-width: calc(100vw - 116px);
  max-height: calc(100vh - 188px);
  width: auto;
  /* height: auto; */
  display: block;
  margin: auto; /* This centers the image horizontally */
}

.preview-nav {
  position: absolute;
  top: 50%;
  font-size: 32px;
  transform: translateY(-50%);
  z-index: 200;
  color: var(--dark);
}

.preview-button {
  border: none;
  background: none;
  cursor: pointer;
}

.preview-close {
  position: absolute;
  right: 32px; /* Adjust the value to move the button horizontally */
  top: 32px;
  font-size: 28px;
  color: var(--dark);
  /* transform: translateY(-20%); */
}

.preview-social {
  position: absolute;
  left: 0px; /* Adjust the value to move the button horizontally */
  top: 8px;
}

.preview-nav-left {
  left: 8px; /* Adjust the value to move the button horizontally */
}

.preview-nav-right {
  right: 8px; /* Adjust the value to move the button horizontally */
}

.info-icon {
  position: absolute;
  right: 30%; /* Adjust the value to move the button horizontally */
  bottom: 5%;
}

.fade-in {
  transition: opacity 0.2s ease-in-out;
  opacity: 1;
}

.fade-out {
  transition: opacity 0.5s ease;
  opacity: 0;
  pointer-events: none; /* to prevent interactions with the faded-out elements */
}

.fade-in-out.fade-in {
  opacity: 1;
}

.info {
  font-size: 12px;
  text-align: center;
  padding-top: 16px;
}

/* This is for additional info:  */

.species-photo {
  height: 150px;
  width: 150px;
}
.widthh {
  width: 20%;
}

@media screen and (max-width: 525px) {
  .info {
    margin: 0 16px;
  }

  .preview-nav {
    display: none;
  }

  .responsive-image {
    max-width: calc(100vw - 54px);
  }

  .preview-social {
    display: none;
  }

  .fade {
    opacity: 1 !important;
  }
}
