@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap");

:root {
  --primary: #676767;
  --light: #dadada;
  --dark: #232323;
  font-family: "Inter", sans-serif;
}

.page-header {
  text-align: center;
}

i {
  font-size: 32px;
}

.site-header {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 36px;
  letter-spacing: -1px;
}

.collections-dropdown {
  position: relative;
}

.collections {
  display: none;
}

.collections-dropdown:hover .collections {
  display: grid;
  position: absolute;
  z-index: 1000;

  /* Set a semi-transparent background with a blur */
  background: rgba(245, 245, 245, 0.5);
  backdrop-filter: blur(30px);

  /* Extend the dropdown to the left and right */
  left: -5%; /* Adjust to extend left */
  right: -5%; /* Adjust to extend right */

  /* Optional: Add some padding for spacing */
  padding: 10px;

  /* Optional: Round the corners */
  border-radius: 10px;
}

.mobile-nav {
  display: none;
}

.mobile-nav .nav-list {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center; /* Vertically center items */
  align-items: center; /* Horizontally center items */
  margin: auto;
  min-height: calc(
    100vh - 64px
  ); /* Adjust 100px to the height of your header */
  padding-bottom: 96px;
}

.mobile-nav a {
  font-weight: 200 !important;
  font-size: 14px !important;
}

.nav-menu {
  display: none;

  border: none;
  background: none;
  font-family: inherit;
  color: rgb(122, 122, 122);
  border-radius: 50%;
  /* height: 4rem; */
  width: 4rem;
  cursor: pointer;
  font-size: 18px;
}

h1 a {
  /* font-family: "Karla", sans-serif; */
  color: #323232 !important;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 32x;
}

header {
  text-align: center;
  padding: 1rem 0;
}

nav {
  justify-content: center;
  display: flex;
  gap: 20px;
  margin-bottom: 16px;
  margin: auto;
}

nav a {
  text-decoration: none !important;
  color: var(--primary) !important;
  font-weight: 300 !important;
}

nav a:hover {
  color: #b0b0b0;
}

@media screen and (max-width: 800px) {
  .nav-bar {
    display: none;
  }

  header {
    text-align: center;
    padding: 0;
    display: none;
  }

  .page-header {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .site-header {
    font-size: 24px;
    letter-spacing: -1px;
    justify-content: center;
  }

  .social-container {
    display: none;
  }

  .app-header {
    display: flex;
    justify-content: space-between;
    height: 64px;
    margin-bottom: 16px;
  }

  .nav-menu {
    display: block;
  }

  .nav-menu:active {
    display: block;
  }

  .mobile-nav {
    min-height: calc(
      100vh - 5vh
    ); /* Adjust 100px to the height of your header */
    /* height: 100vh; */
    display: block;
    margin: auto 0;
    position: absolute;
    top: 20vh;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    border-radius: 0;
    box-shadow: none;
    display: none;
    z-index: 10;
  }

  .active {
    display: block;
  }

  .nav-bar {
    display: none;
  }
}
